 <header>
        <!-- top Header -->
        <div id="top-header">
            <div class="container">
                <div class="pull-left">
                    <span>Welcome to EasyRent!</span>
                </div>
                <div class="pull-right">
                    <ul class="header-top-links">
                        <li><a href="/products">Store</a></li>
                        <li><a href="#">Newsletter</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /top Header -->

        <!-- header -->
        <div id="header">
            <div class="container">
                <div class="pull-left">
                    <!-- Logo -->
                    <div class="header-logo">
                        <a class="logo" href="/">
                            <img src="/img/newlogo.png" alt="">

                        </a>
                    </div>
                    <!-- /Logo -->

                    <!-- Search -->
                    <div class="header-search">
                        <form>
                            <input class="input search-input" type="text" placeholder="Enter your keyword">
                            <select class="input search-categories">
                                <option value="0">All Categories</option>
                                <option value="1">Category 01</option>
                                <option value="1">Category 02</option>
                            </select>
                            <button class="search-btn"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <!-- /Search -->
                </div>
                <div class="pull-right">
                    <ul class="header-btns">
                        <!-- Account -->
                        <li class="header-account dropdown default-dropdown">
                            <div class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="true">
                                <div class="header-btns-icon">
                                    <i class="fa fa-user-o"></i>
                                </div>
                                <strong class="text-uppercase">My Account <i class="fa fa-caret-down"></i></strong>
                            </div>

                            {{# if login}}
                               
                                <a href="/user/logout"> Logout </a>
                                <ul class="custom-menu">
                                    <li><a href="/user/profile"><i class="fa fa-user-o"></i> My Account</a></li>
                                    <li><a href="#"><i class="fa fa-check"></i> Checkout</a></li>
                                    <li><a href="/shopping-cart/"><i class="fa fa-unlock-alt"></i> Rent Cart</a></li>
                                    <li><a href="/user/logout"><i class="fa fa-user-plus"></i> Logout</a></li>
                                 </ul>

                            {{else}}
                                <a href="/user/signin" class="text-uppercase">Login</a> / <a href="/user/signup" class="text-uppercase">Join</a>

                            <ul class="custom-menu">
                                <li><a href="#"><i class="fa fa-check"></i> Checkout</a></li>
                                <li><a href="#"><i class="fa fa-unlock-alt"></i> Login</a></li>
                                <li><a href="#"><i class="fa fa-user-plus"></i> Create An Account</a></li>
                            </ul> 
                        {{/if}}
                        </li>
                        <!-- /Account -->

                        <!-- Cart -->
                        <li class="header-cart dropdown default-dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                <div class="header-btns-icon">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span class="qty">{{session.cart.totalQty}}</span>
                                </div>
                                <strong class="text-uppercase">My Cart:</strong>
                                <br>
                                <span> <i class="fa fa-inr" aria-hidden="true"></i>
                                    {{# if session.cart.totalPrice}}
                                        {{ session.cart.totalPrice }}
                                    {{ else }}
                                        0
                                    {{/if}}
</span>
                            </a>
                            <div class="custom-menu">
                                <div id="shopping-cart">
                                    <div class="shopping-cart-btns">
                                        <button class="main-btn">
                                            <a href="/shopping-cart/">
                                        View Cart </a></button>
                                        <button class="primary-btn">Checkout <i class="fa fa-arrow-circle-right"></i></button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- /Cart -->
                    </ul>
                </div>
            </div>
            <!-- header -->
        </div>
        <!-- container -->
    </header>


