<div class="row"  id="signup-page" style=" padding: 150px 0px;">
    <div class="col-md-4 col-md-offset-4">
        <h1>Sign Up</h1>
        {{#if hasErrors}}
            <div class="alert alert-danger">
                {{# each messages }}
                    <p>{{this}}</p>
                {{/each}}
            </div>
        {{/if}}
        <form action="/user/signup" method="post">
            <div class="form-group">
                <label for="email">E-Mail</label>
                <input type="text" id="email" name="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control">
<!--                 <label for="password2">Repeat Password</label>
                <input type="password" id="password2" name="password2" class="form-control">   -->
                <input type="checkbox" name="checkbox" value="check" id="agree"/>I have read and agree to the Terms and Conditions and Privacy Policy         
            </div>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
    </div>
</div>