<div class="container">
	<div class="row contact-top" class>
		<div class="col-md-4">
			<h2><strong>EasyRent</strong></h2>
			<div class="contact-top-left">
				<div class="row">
					<div class="keyvalue">
							<div class="key"><strong>ID:</strong></div>
						<div class="value">123456</div>
					</div>
					<div class="keyvalue">
						<div class="key"><strong>VAT:</strong></div>
						<div class="value">123456</div>
					</div>
				</div>
			</div>
			<div class="contact-bottom-left row">
					<div class="caption"><i class="fa fa-envelope-o"></i>
						<span>Contact</span></div>
						<div class="keyvalue"><div class="key">Phone number</div>
						<div class="value">+91 7415551070</div>
					</div>
						<div class="keyvalue"><div class="key">Email address</div>
						<div class="value emailencode">info@easyrent.com</div>
					</div>
				</div>
		</div>
		<div class="col-md-4">
			<div class="contact-top-right">
				<div class="caption"><i class="fa fa-map-marker"></i><span><strong>Address</strong></span></div>
				<div class="address">
					<div>Street X</div>
					<div>Indore</div>
					<div>Madhya Pradesh</div>
				</div>
			</div>
		</div>
	</div>
</div>
