<div class="col-md-8 m">
		<div class="notice">
			<div class="noticeheadline">
				<h2><strong>This is the first notice</strong></h2>
				<div class="noticehead-date">
				<i class="fa fa-clock-o"></i>30-02-2018
				</div>
			</div>
				<div class="noticebody">
					<p>I'm very happy to announce a new section in the EasyRent webiste.
					</p>
				</div>
			</div>
</div>

