	<section>
		<div class="container-fluid">
			<div class="container">
				<h1 style="text-align: 	center ; padding:50px; font-weight: bolder; text-decoration: underline;	 ">	Meet Our Awesome Team</h1>

				<div class="row">
					<div class="col-sm-3">
						<div class="imageBox">
							<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ79irT6TVTaAz9g3KesK5wkyGkFkBeIon5EdRN3xH-v_3h1KDKeg" class="img-responsive">
							<h3>Ritwik Singh</h3>
							<ul>
								<li><a href="#"><i class="fa fa-facebook" aira-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter-square" aira-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus" aira-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin" aira-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram" aira-hidden="true"></i></a></li>
							</ul>	<p style="text-align: 	center ; font-weight: bolder; text-decoration: underline;	 ">	Head of Marketing </p>
						</div>

					</div>
					<div class="col-sm-3">
						<div class="imageBox">
							<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6aRaHmIufVkNmzflXuq3S6UsRypq3JFeZ9cBRanB0gTuWpBvA" class="img-responsive">
							<h3>Richa Tiwari</h3>
							<ul>
								<li><a href="#"><i class="fa fa-facebook" aira-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter-square" aira-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus" aira-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin" aira-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram" aira-hidden="true"></i></a></li>
							</ul><p style="text-align: 	center ; font-weight: bolder; text-decoration: underline;	 ">	Head of Designing </p>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="imageBox">
							<img src="http://iv1.lisimg.com/image/6643644/440full-angela-baby.jpg">
							<h3>Rashika Chaudory</h3>
							<ul>
								<li><a href="#"><i class="fa fa-facebook" aira-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter-square" aira-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus" aira-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin" aira-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram" aira-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="imageBox">
							<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdxAvFHKJvr9kZpSV7NzO1MesjjOj0YyKeVKLFFKMdXB_oKapX">
							<h3>Yash Mahajan</h3>
							<ul>
								<li><a href="#"><i class="fa fa-facebook" aira-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter-square" aira-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus" aira-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin" aira-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram" aira-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="imageBox">
							<img src="" class="img-responsive">
							<h3>Someone Famous</h3>
							<ul>
								<li><a href="#"><i class="fa fa-facebook" aira-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter-square" aira-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus" aira-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin" aira-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram" aira-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>